* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  background-image: url("images/void3b.jpg");
  background-attachment: fixed;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;
}

button {
  font-family: "Orbitron", sans-serif;
  background-color: hsla(332, 88.7%, 45.1%, 0.7);
  border: none;
  border-radius: 10px;
  margin: 5px 15px;
  padding: 10px;
  transition-duration: 1s;
  width: 95%;
}

button:hover {
  background-color: rgb(198, 24, 217);
}

form {
  font-size: 20px;
}

header {
  text-align: center;
  background-color: hsla(332, 88.7%, 45.1%, 0.7);
  border-radius: 30px;
  color: hsla(304, 76.7%, 8.4%, 1);
  margin: 15px 15px 0px;
  padding: 0px;
}

img {
  border-radius: 20px;
  padding: 10px;
}

li {
  background-color: hsla(332, 88.7%, 45.1%, 0.7);
  /* border: 1px solid black; */
  border-radius: 30px;
  padding: 10px;
  margin: 15px;
  max-width: 90%;
  list-style-type: none;
  text-align: center;
}

p {
  padding: 15px;
}

ul {
  list-style-type: none;
}

/* Styled by Class */
.arrow {
  float: right;
  height: 70px;
  width: 70px;
}

.js-explain {
  background-color: hsla(332, 88.7%, 45.1%, 0.7);
  border-radius: 30px;
  padding: 10px;
  margin: 15px;
  max-width: 100%;
  list-style-type: none;
  text-align: center;
}

.js-results {
  font-family: "Oribtron", sans-serif;
  text-align: center;
}

.hidden {
  display: none;
}

.flex-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 15px;
  padding: 5px;
  width: 100%;
}

.flex-row {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
  padding: 5px;
  width: 100%;
}

.purple {
  color: rgb(175, 123, 197);
}

.result {
  transition-duration: 1s;
}

.result:hover {
  background-color: rgb(198, 24, 217);
}

/* Styling by ID */

#explanation {
  display: flex;
}

#menuIcon {
  float: right;
  height: 60px;
  position: fixed;
  top: 160px;
  right: 20px;
  width: 60px;
  z-index: 10;
}

#menuExmp {
  height: 60px;
  width: 60px;
}

#vidVoid {
  color: hsl(282, 68.2%, 53.1%);
}

#menu {
  margin-bottom: 0px;
}

@media screen and (min-width: 500px) {
  .flex-row {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 750px) {
  form {
    font-size: 35px;
    line-height: 41px;
  }

  li.result {
    max-width: 400px;
  }

  #js-searchForm {
    display: flex;
    flex-direction: row;
  }

  #js-resultList,
  #pickListRow {
    /* align-items: center; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #pickListRow > li {
    width: 400px;
  }

  #next,
  #back {
    max-width: 300px;
  }
}
