* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  background-image: url("images/void3b.jpg");
  background-attachment: fixed;
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: hsla(332, 88.7%, 45.1%, 0.7);
  border: none;
  border-radius: 10px;
  /* display: block; */
  margin: 5px 15px;
  padding: 10px;
  width: 90%;
}

header {
  text-align: center;
  background-color: hsla(332, 88.7%, 45.1%, 0.7);
  border-radius: 30px;
  color: hsla(304, 76.7%, 8.4%, 1);
  /* max-width: 100%; */
  margin: 15px 15px;
  /* margin-bottom: 15px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto; */
  padding: 0px;
}

img {
  border-radius: 20px;
  padding: 10px;
}

li {
  background-color: hsla(332, 88.7%, 45.1%, 0.7);
  /* border: 1px solid black; */
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  max-width: 90%;
  list-style-type: none;
  text-align: center;
}

ul {
  list-style-type: none;
}

/* Styled by Class */
.arrow {
  float: right;
  height: 70px;
  width: 70px;
}

.js-explain {
  background-color: hsla(332, 88.7%, 45.1%, 0.7);
  /* border: 1px solid black; */
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  max-width: 90%;
  list-style-type: none;
  text-align: center;
}

.hidden {
  display: none;
}

.flex-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 100%;
}

.js-resultCounter,
#pageNum {
  color: white;
}

/* Styling by ID */

#explanation {
  display: flex;
}

#menuIcon {
  float: right;
  height: 60px;
  position: fixed;
  top: 160px;
  right: 20px;

  width: 60px;
}

#menuExmp {
  height: 60px;
  width: 60px;
}

#vidVoid {
  color: hsl(282, 68.2%, 53.1%);
}

@media screen and (min-width: 500px) {
  .flex-row {
    display: flex;
    flex-direction: row;
  }
}
